Models/
Data/
/Data/Distance Estimation Data/val/
/Data/Distance Estimation Data/data.csv
/Data/Images/
/Data/Images (segmentation)/
/Data/Images (standalone fire detection data)/
/Data/zipped/fire-detection-dataset.zip
/Data/zipped/fire-segmentation-image-dataset.zip
/Data/zipped/test-dataset.zip
/Data/zipped/val.tar.gz
/dump.py

__pycache__/
*/__pycache__/

.idea/

/.ipynb_checkpoints/
/dump tests.ipynb
/AdaBins/models/
/AdaBins/pretrained/
/fire_detection/models/
/legacy/
/legacy/
